# Auto detect text files and perform LF normalization
* text=auto

*.php text eol=lf

# exclude from git export
/travis.ini export-ignore
/nam.ini export-ignore
/.gitignore export-ignore
/.gitattributes export-ignore
